{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>La maison des artistes
		</title>
		<link rel="stylesheet" href="./SCSS/index.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<style>
			* {
				margin: 0;
				padding: 0;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}

			body {
				background-image: url('{{ asset('images/bgsite1.jpg') }}');
				background-size: cover;
				background-position-y: 25%;
			}

			.jsjhr .skfjh {
				position: relative;
				top: 4rem;
			}

			.jsjhr .skfjh .sfjhe {
				background-color: #fff;
				padding: 12px;
				-webkit-box-shadow: 0 0 6px #ccc;
				box-shadow: 0 0 6px #ccc;
				height: 100%;
			}

			.jsjhr .skfjh .sfjhe .sjfsj img {
				width: 140px;
				margin-top: 9px;
				border-radius: 50%;
				margin-left: 8px;
			}

			.jsjhr .skfjh .sfjhe h5 {
				font-size: 16px;
			}

			.jsjhr .skfjh .jfheuf {
				background-color: #fff;
				-webkit-box-shadow: 0 0 6px #ccc;
				box-shadow: 0 0 6px #ccc;
				padding: 34px;
			}

			.jsjhr .skfjh .jfheuf textarea {
				border: navajowhite;
				border-bottom: 1px solid #efefef;
				outline: navajowhite;
			}

			.jsjhr .skfjh .box1 {
				background-color: #fff;
				-webkit-box-shadow: 0 0 6px #ccc;
				box-shadow: 0 0 6px #ccc;
				padding: 20px;
				margin-top: 20px;
			}

			.jsjhr .skfjh .box1 .skfjkk .lkt40 img {
				width: 33px;
				border-radius: 50%;
				height: 33px;
			}

			.jsjhr .skfjh .left_box {
				background-color: #fff;
				-webkit-box-shadow: 0 0 6px #ccc;
				box-shadow: 0 0 6px #ccc;
				padding: 34px;
			}

			.jsjhr .skfjh .left_box .dfkj .lkt40 img {
				width: 30px;
				border-radius: 50%;
				height: 30px;
				margin-right: 10px;
			}
			.navbar {
				background-color: #f8f9fa;
			}

			.navbar-brand {
				margin-right: auto;
				margin-left: auto;
			}

			.navbar-text {
				margin-right: 15px;
			}
			.centerr {
				position: relative;
				left: 150px;
			}
		</style>
	</head>

	<body>
		{% include 'navbar.html.twig' %}


		<div class="container jsjhr">
			<div class="row skfjh">
				<div class="col-3"></div>
				<div class="col-3">
						<button class="btn btn-info centerr" onclick="location.href='{{path('app_peinture_new')}}'" type="button">Ajouter votre propre peinture à vendre!</button>
					</div>
				<div class="col-3"></div>
				<div class="col-3"></div>

			</div>
			<div class="row skfjh">

				<div class="col-3"></div>

				<div class="col-md-6">
					{% for peinture in peintures %}

						<a style="text-decoration:none" href="{{ path('app_peinture_edit', {'id': peinture.id}) }}">
							<div class="box1">
								<div class="skfjkk">


									<div class="pl-2 pt-1 text-center">
										<h6>{{ peinture.nom }}</h6>
									</div>

								</div>
								<hr>

								<img src={{peinture.pathImage}} style="width: 580px; height: 500;" class="center" alt="">

								<hr>
								<p class="text-center text-muted">
									{{ peinture.description }}
								</p>
								<hr>

								<div class="d-flex justify-content-around">

									<div>
										<i class="fa fa-comment"></i>
										Comments
									</div>

								</div>

							</div>
						</a>
					{% endfor %}

				</div>

			</div>

		</div>
	</body>
</div></div></body><br>{# <td>{{ peinture.id }}</td>
									<td>{{ peinture.nom }}</td>
									<td>{{ peinture.largeur }}</td>
									<td>{{ peinture.hauteur }}</td>
									<td>{{ peinture.prix }}</td>
									<td>{{ peinture.description }}</td> #}{# <td>
									  <a href="{{ path('app_peinture_edit', {'id': peinture.id}) }}" class="edit" data-toggle="modal"><i
									      class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
									  <a href="{{ path('app_peinture_delete', {'id': peinture.id}) }}" class="delete" data-toggle="modal"><i
									      class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
									</td>
									</tr>
									{% else %}
									<tr>
									  <td colspan="9">no records found</td>
									</tr>
									{% endfor %} #}{% endblock %}
