{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}


{% block stylesheets %}
	<style>
		body {
			background-image: url('{{ asset('images/brush.jpg') }}');
			background-repeat: no-repeat;
			background-size: cover;
			background-position-y: 25%;

		}
	</style>
{% endblock %}


{% block body %}

	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	{{ form_start(registrationForm) }}
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">

				<br>
				<br>
				<br>
				<h2 style="text-align:center;">Register</h2>

                  <br>
                <br>
                <br>
                <form method="post">

					<table class="table">
						<tr>
							<td>


								{{ form_label(registrationForm.nom) }}

							</td>
							<td>
								{{ form_widget(registrationForm.nom) }}

							</td>
						</tr>
						<tr>
							<td>
								{{ form_label(registrationForm.prenom) }}

							</td>
							<td>
								{{ form_widget(registrationForm.prenom) }}

							</td>
						</tr>
						<tr>
							<td>
								{{ form_label(registrationForm.cin) }}

							</td>
							<td>
								{{ form_widget(registrationForm.cin) }}

							</td>
						</tr>
						<tr>
							<td>
								{{ form_label(registrationForm.tel) }}

							</td>
							<td>
								{{ form_widget(registrationForm.tel) }}

							</td>
						</tr>
						<tr>
							<td>
								{{ form_label(registrationForm.email) }}

							</td>
							<td>
								{{ form_widget(registrationForm.email) }}

							</td>
						</tr>
						<tr>
							<td>
								{{ form_label(registrationForm.plainPassword) }}

							</td>
							<td>
								{{ form_widget(registrationForm.plainPassword) }}

							</td>
						</tr>
						<tr>
							<td>
								{{ form_label(registrationForm.agreeTerms) }}

							</td>
							<td>
								{{ form_widget(registrationForm.agreeTerms) }}

                        </td>
					</tr>
                    


					</table>
					<div class="text-center">

						<button type="submit" class="btn" style="color : blue">Register</button>
					</div>
					<a href="login">
					 back to login page
					</a>
					{{ form_rest(registrationForm) }}
					
				</form>
			</div>
		</div>
	</div>

	{{ form_end(registrationForm) }}


{% endblock %}
