{{ form_start(form) }}
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>


			body {
				background-image: url('{{ asset('images/adam.jpg') }}');
				background-repeat: no-repeat;
  				background-attachment: fixed;
					background-size: cover;
				background-position-y: 25%;
			}
		.card {
			border: none;
		}
		.ellipsis {
			color: #a09c9c;
		}
		hr {
			color: #a09c9c;
			margin-top: 4px;
			margin-bottom: 8px;
		}
		.muted-color {
			color: #a09c9c;
			font-size: 13px;
		}
		.ellipsis i {
			margin-top: 3px;
			cursor: pointer;
		}
		.icons i {
			font-size: 25px;
		}
		.icons .fa-heart {
			color: red;
		}
		.icons .fa-smile-o {
			color: yellow;
			font-size: 29px;
		}
		.rounded-image {
			border-radius: 50% !important;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50px;
			width: 50px;
		}
		.name {
			font-weight: 600;
		}
		.comment-text {
			font-size: 12px;
		}
		.status small {
			margin-right: 10px;
			color: blue;
		}
		.form-control {
			border-radius: 26px;
		}
		.comment-input {
			position: relative;
		}
		.fonts {
			position: absolute;
			right: 13px;
			top: 8px;
			color: #a09c9c;
		}
		.form-control:focus {
			color: #495057;
			background-color: #fff;
			border-color: #8bbafe;
			outline: 0;
			box-shadow: none;
		}
	</style>
</head>

<body>
	{% include 'navbar.html.twig' %}

	<div class="container mt-5 mb-5">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="d-flex justify-content-between p-2 px-3">
						<div class="d-flex flex-row align-items-center">

							<div class="text-center flex-column ml-2">
								<span class="font-weight-bold">{{peinture.nom}} : {{peinture.Categories[0].designation}} </span>

							</div>
						</div>
						<div class="d-flex flex-row mt-1 ellipsis">
							<small class="mr-2">{{peinture.date_realisation.format('Y-m-d H:i:s')}}</small>
							<i class="fa fa-ellipsis-h"></i>
						</div>
					</div>
					<img src={{asset("images/") ~ peinture.pathImage}} class="img-fluid"/>
					<div class="p-2">
						<p class="text-justify">
							{{ peinture.description  }}

						</p>
						<hr/>
						<div class="d-flex justify-content-between align-items-center">

							<div class="d-flex flex-row muted-color">
								<span>{{nbCom}}</span>
								<span class="ml-2">comments</span>
							</div>
						</div>
						<hr/>
						<div class="comments">
							{% for com in commentaires  %}

								<div class="d-flex flex-row mb-2">
									<img src={{asset("images/") ~ com.user.image}} width="7" class="rounded-image"/>
									<div class="d-flex flex-column ml-2">
										<span class="name">{{com.user.nom}}
											{{com.user.prenom}}</span>
										<span class="comment-text" style="font-size:20px">{{com.contenu}}</span>
										<div class="d-flex flex-row align-items-center status">

											<small style="font-size:10px">{{com.date.format('Y-m-d H:i:s')}}</small>
										</div>
									</div>
								</div>
							{% endfor %}


							<div class="comment-input">
							<div class="d-flex flex-row mb-2"> <img src={{asset("images/") ~ user.image}} width="40" class="rounded-image">
								<input placeholder="ecrire un commentaire" name="{{ field_name(form.contenu) }}" value="{{ field_value(form.contenu) }}" class="form-control"/>
								<div class="fonts">


									{{ form_widget(form.send, {'attr': {'class': 'fa fa-paper-plane', 'style':'border-radius: 12px'}}) }}


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{{ form_end(form) }}
