{% extends 'base.html.twig' %}

{% block title %}Add peinture
{% endblock %}


{% block stylesheets %}
	<style>
		body {
			background-image: url('{{ asset('images/brush.jpg') }}');
			background-repeat: no-repeat;
			background-size: cover;
    background-position-y: 25%;

		}
	</style>
{% endblock %}


{% block body %}

	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	                        				{{ form_start(form) }}

	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">

                <br>
                <br>
                <br>
                <h2 style="text-align:center;">Ajouter une peinture</h2>

                  <br>
                <br>
                <br>
                <form method="post">

				<table class="table">
					<tr>
						<td>


							{{ form_label(form.nom) }}

						</td>
						<td>
                        	{{ form_widget(form.nom) }}

                        </td>
					</tr>
                    <tr>
						<td>
							{{ form_label(form.largeur) }}

						</td>
						<td>
                        	{{ form_widget(form.largeur) }}

                        </td>
					</tr>
                    <tr>
						<td>
							{{ form_label(form.hauteur) }}

						</td>
						<td>
                        	{{ form_widget(form.hauteur) }}

                        </td>
					</tr>
                    <tr>
						<td>
							{{ form_label(form.en_vente) }}

						</td>
						<td>
                        	{{ form_widget(form.en_vente) }}

                        </td>
					</tr>
                    <tr>
						<td>
							{{ form_label(form.prix) }}

						</td>
						<td>
                        	{{ form_widget(form.prix) }}

                        </td>
					</tr>
                    <tr>
						<td>
							{{ form_label(form.date_realisation) }}

						</td>
						<td>
                        	{{ form_widget(form.date_realisation) }}

                        </td>
					</tr>
                    <tr>
						<td>
							{{ form_label(form.description) }}

						</td>
						<td>
                        	{{ form_widget(form.description) }}

                        </td>
					</tr>
                    
					 <tr>
						<td>
							{{ form_label(form.Categories) }}

						</td>
						<td>
                        	{{ form_widget(form.Categories) }}

                        </td>
					</tr>
   
             
				</table>
                <div class="text-center">

                                    	<button type="submit" class="btn">Ajouter</button>
			</div>
			{{ form_rest(form) }}
</form >

			</div>
		</div>
	</div>

{{ form_end(form) }}


{% endblock %}
